/***** Home Section *****/

html {
    height: 100%;
}

body{
    background-color: #EDF5E0 !important;
    font-family: 'Roboto', sans-serif;
}

/***** General *****/

.title-section{
    margin-bottom: 2%;
}

.spied-section{
    background-color: transparent !important;
    margin-top: 4%;
}

/***** Navbar Section *****/

.navbar-toggler{
    background-color: #05396B !important;
}

.navbar-nutrition{
    background-color: #EDF5E0;
    border-bottom: 3px solid #05396B;
}

.navbar-title{
    color: #05396B;
    font-weight: 700;
    font-size: 40px;
}

.navbar-title:hover{
    text-decoration: none;
    color: #05396B;
    cursor: pointer;
}

.navbar-link{
    font-size: 20px;
    font-weight: 700;
    color: #05396B;
    cursor: pointer;
}

.navbar-link:hover{
    text-decoration: none;
    color: #05396B;
    cursor: pointer;
}

/***** Table Client Section *****/

.table-client-section{
    background-color: #F4F5F7 !important;
    padding: 2%;
}

table{
    border: 1px solid #DEE2E6;
}

.my-custom-scrollbar{
    position: relative;
    height: 400px;
    overflow: auto;
}

.table-wrapper-scroll-y{
    display: block;
}

table > thead > tr > th,
table > tbody > tr > td,
table > tfoot > tr > td{
    text-align: center;
    font-weight: 700;
}

.btn-import-client{
    background-color: orange;
    width: 15%;
    font-size: 16px;
    color: white;
    margin: auto;
}

.btn-import-client:hover{
    background-color: darkorange;
}

/***** Add Row Section *****/

.filter-clients{
    margin-bottom: 2%;
    font-size: 15px;
    font-weight: 600;
}

.add-client-section{
    background-color: #F4F5F7 !important;
    padding: 2%;
}

.wrapper{
    text-align: center;
    margin-top: 2%;
}

.btn-add-client{
    background-color: orange;
    width: 15%;
    font-size: 16px;
    color: white;
    margin: auto;
}

.btn-add-client:hover{
    transition: 1s all;
    background-color: darkorange;
    width: 20%;
    font-size: 20px;
}

.error-message{
    font-size: 16px;
    color: red;
    font-weight: 600;
}

.fadeOut {
	opacity: 0;
	transition: 0.5s;
}

.invisible {
	display: none;
}

/***** Footer Section *****/

.footer-section{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #05396B;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border-top: 3px solid #05396B;
    background-color: #EDF5E0;
}



/******* Media Queries *******/

@media only screen and (max-width: 768px) {

    .spied-section{
        margin-top: 10%;
    }

    .filter-clients{
        padding: 2%;
    }

    .btn-add-client{
        width: 50%;
    }

    .wrapper{
        margin-bottom: 2%;
    }
}

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...}
*/